<config>
    <modules>
        <Mycompany_Helloworld>
            <version>0.1.0</version>
        </Mycompany_Helloworld>
    </modules>

    <global>
        <models>
            <mycompanyhelloworld>
                <class>Mycompany_Helloworld_Model</class>
                <resourceModel>mycompanyhelloworld_resource</resourceModel>
            </mycompanyhelloworld>

            <mycompanyhelloworld_resource>
                <class>Mycompany_Helloworld_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </mycompanyhelloworld_resource>
        </models>

        <resources>
            <mycompanyhelloworld_setup>
                <setup>
                    <module>Mycompany_Helloworld</module>
                    <class>Mycompany_Helloworld_Model_Resource_Setup</class>
                </setup>
            </mycompanyhelloworld_setup>
        </resources>

        <blocks>
            <mycompanyhelloworld>
                <class>Mycompany_Helloworld_Block</class>
            </mycompanyhelloworld>
        </blocks>

        <helpers>
            <mycompanyhelloworld>
                <class>Mycompany_Helloworld_Helper</class>
            </mycompanyhelloworld>
        </helpers>
    </global>

    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Mycompany_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>

        <layout>
            <updates>
                <mycompanyhelloworld>
                    <file>mycompanyhelloworld.xml</file>
                </mycompanyhelloworld>
            </updates>
        </layout>

        <translate>
            <modules>
                <Mycompany_Helloworld>
                    <files>
                        <default>Mycompany_Helloworld.csv</default>
                    </files>
                </Mycompany_Helloworld>
            </modules>
        </translate>
    </frontend>
</config>